<!doctype html>
<title>Nido</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon" />
<div class=page>
  <h1>Nido</h1>
  <div class=metanav>
    <a href="{{ url_for('show_status') }}">Status</a>
    &nbsp;|&nbsp;
    <a href="{{ url_for('show_config') }}">Config</a>
    &nbsp;|&nbsp;
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">Log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">Log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
    {% block body %}{% endblock %}
   </div>
