{% extends "layout.html" %}
{% block body %}
	<h2>Set initial configuration</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
	<form action="{{ url_for('set_config') }}" method=post>
		<dl>
			<dt>Zipcode:</dt>
			<dd><input type=text name=zipcode></dd>
			<dt>Temperature scale:</dt>
			<dd><select name="celsius"><option value="1">C</option><option value="0">F</option></select></dd>
			<dt>Thermostat location:</dt>
			<dd><input type=text name=user_location_name></dd>
			<dt>Temperature set point:</dt>
			<dd><input type=text name=set_temp></dd>
			<dt>Mode:</dt>
			<dd><select name="mode">
				<option value="{{ mode.heat.value }}">{{ mode_name[mode.heat] }}</option>
				<option value="{{ mode.cool.value }}">{{ mode_name[mode.cool] }}</option>
				<option value="{{ mode.heat_cool.value }}">{{ mode_name[mode.heat_cool] }}</option>
				<option value="{{ mode.off.value }}">{{ mode_name[mode.off] }}</option>
			</select></dd>
			<dd><input type=submit value=Submit></dd>
		</dl>
	</form>
{% endblock %}
