.git

*.pyc
__pycache__/

*.swp
*.swo

venv/
*.egg-info/
build/
dist/
wheelhouse/

node_modules/
npm-debug.log
.module-cache
package-lock.json

# Homebridge
homebridge/*
!homebridge/config.json
!homebridge/startup.sh

# Database
nido.sqlite

# Webpack'd JS
nido-api/nido/static/js/nido.js
nido-api/nido/static/js/nido.js.map

nohup.out

private-config.py
