.git

*.pyc
__pycache__/

*.swp
*.swo

nido-venv/
*.egg-info/
build/
dist/
wheelhouse/

node_modules/
npm-debug.log
.module-cache
package-lock.json

# Database
nido.sqlite

# Webpack'd JS
nido/static/js/nido.js
nido/static/js/nido.js.map

nohup.out

private-config.py
