.git

*.pyc
__pycache__/

*.swp
*.swo

venv/
*.egg-info/

# Homebridge
homebridge/*
!homebridge/config.json
!homebridge/startup.sh

# Database
nido.sqlite
log/

# Web server configuration
private-config.py
