graft wheelhouse

global-exclude __pycache__ *.pyc *.pyo *.swp *.swo

# Include webapp static files
graft nido/static
graft nido/templates

# Include start and stop scripts
include run-nido.sh
include stop-nido.sh

# Packaging and install files
include LICENSE
include requirements.txt
include package.py

# Exclude all build environment artefacts
prune instance
prune nido-venv
prune *.egg-info
prune .git
prune build
prune dist
prune node-modules
prune react
prune mobile
exclude nohup.out
