graft wheelhouse

global-exclude __pycache__ *.pyc *.pyo *.swp *.swo

# Include webapp static files
graft nido/static
graft nido/templates

# Exclude all build environment artefacts
prune instance
prune nido-venv
prune *.egg-info
prune .git
prune build
prune dist
prune node-modules
exclude nohup.out

# Include auxilliary package files
include *.py*
include *.js
include run-nido.sh
include stop-nido.sh
include package.json
include package-lock.json
graft react

# Packaging and install files
include LICENSE
include README.md
include install.sh
include requirements.txt
