####
# This file contains instance-specific variables, and you should definitely
# change them from their defaults!
#
# If you are running this package in a local development environment, you
# should place the renamed file ("private-config.py") with your own settings
# in the root directory and Docker will copy it to the correct location when
# building the image.
#
# If running nido as an installed module, Flask will look for this file in
# $PREFIX/var/nido.web-instance, where $PREFIX is the prefix of your Python
# installation.
#
# See: https://flask.palletsprojects.com/en/1.1.x/config/#instance-folders
####

# Standard Flask config values
SECRET_KEY = "your-secret-key"

# Nido API secret key
PUBLIC_API_SECRET = "your-secret"
