APScheduler==3.5.1
asn1crypto==0.24.0
attrs==18.1.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
coverage==4.5.1
cryptography==2.2.2
cycler==0.10.0
enum34==1.1.6
future==0.16.0
gunicorn==19.8.1
idna==2.6
kiwisolver==1.0.1
matplotlib==2.2.2
more-itertools==4.1.0
numpy==1.14.3
pluggy==0.6.0
plumbum==1.6.6
py==1.5.3
pycparser==2.18
pyOpenSSL==18.0.0
pyparsing==2.2.0
pytest==3.5.1
python-dateutil==2.7.3
python-dotenv==0.8.2
pytz==2018.4
PyYAML==3.12
RPi.GPIO==0.6.1
requests==2.18.4
rpyc==3.4.4
six==1.11.0
smbus2==0.2.0
SQLAlchemy==1.2.7
tzlocal==1.5.1
urllib3==1.22
validate-email==1.3
