####
# Perform the following steps before running docker build:
# 1) Add your private configuration values
# 2) Rename this file to private-config.py
# This configuration will be incorporated into the docker image.
####

# Standard Flask config values
SECRET_KEY = 'your-secret-key'

# Nido config values
USERNAME = 'username'
PASSWORD = 'password'
PUBLIC_API_SECRET = 'your-secret'

# 3rd party APIs
WUNDERGROUND_API_KEY = 'your-api-key'
GOOGLE_API_KEY = 'your-api-key'
