####
# Perform the following steps before running docker build:
# 1) Add your private configuration values
# 2) Rename this file to private-config.py
# This configuration will be incorporated into the docker image.
####

# Standard Flask config values
SECRET_KEY = "your-secret-key"

# Nido API secret key
PUBLIC_API_SECRET = "your-secret"
