{% extends "layout.html" %}
{% block body %}
	<dl>
		<dt>Current temperature ({{ user_config.user_location_name }}):</dt>
		{% if celsius_setting %}
			<dd>{{ sensor.temp }}&deg;C</dd>
		{% else %}
			<dd>{{ sensor.temp }}&deg;F</dd>
		{% endif %}
		<dt>Relative humidity:</dt>
		<dd>{{ sensor.relative_humidity }}%</dd>
		<dt>Thermostat setpoint:</dt>
		{% if celsius_setting %}
			<dd>{{ user_config.set_temp }}&deg;C</dd>
		{% else %}
			<dd>{{ user_config.set_temp }}&deg;F</dd>
		{% endif %}
		<dt>Status:</dt>
		<dd>{{ status_name[status] }}</dd>
		<dt>Mode:</dt>
		<dd>{{ mode_name[mode] }}</dd>
		<br/><br/>
		<dt>Current weather for {{ weather.location_name }}:</dt>
		<dd><img src="{{ weather.condition_icon_url }}" alt="{{ weather.condition_desc }}"/></dd>
		{% if celsius_setting %}
			<dd>{{ weather.condition_desc }} {{ weather.temp }}&deg;C RH: {{ weather.relative_humidity }}</dd>
		{% else %}
			<dd>{{ weather.condition_desc }} {{ weather.temp }}&deg;F RH: {{ weather.relative_humidity }}</dd>
		{% endif %}
	</dl>
{% endblock %}
